<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlAdo.ConnectionString" connectionString="Data Source=;Initial Catalog=;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="SqlAdo.ConnectionString" value="Data Source=;Initial Catalog=;Integrated Security=True" />
    </appSettings>
  </location>
</configuration>